body {
    background-color: rgb(223, 231, 245);
}

.wrapper {
    width: 100%;
    max-width: 800px;
    padding: 40px;
    margin: 100px auto;
    background: #ffffff;
    border-radius: 12px;
    border-top: 5px solid #2C8C99;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

h2 {
    color: #2C8C99;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.form-control {
    border-radius: 8px;
    padding: 12px;
    border: 1px solid #ced4da;
}

#editor {
    min-height: 300px;
    background: white;

}